body {
    padding-top: 100px;
    background-color: #eeeeee;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}